[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
python-telegram-bot = "==11.0.0"
leancloud = "*"
googletrans = "*"
pixivpy = {editable = true,git = "https://github.com/upbit/pixivpy.git"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
